@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200;300;400;500;600;700&family=Proza+Libre&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    box-sizing: border-box; 
}
html{
    font-size: 62.5%;

}
.main{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(161, 178, 234);
}
.heading{
    text-decoration: underline;
    font-size: 5rem;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Proza Libre', sans-serif;
}

.center{
    width: 50vw;
    background-color: azure;
    padding: 3rem 4rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 1rem 1rem -0.2rem rgba(0, 0, 0, 0.4);
}

.main h2{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}
.main li{
    font-size: 2rem;
    margin-top: 1rem;
    list-style: none;
}
input{
    cursor: pointer;
}
#submit, .btn{
    font-size: 2rem;
    padding: 1rem 3rem;
    outline: none;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    border-radius: 0.6rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 178, 234);
    margin-top: 3.4rem;
    box-shadow: 0.5rem 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;

}
#submit:hover{
    background-color: rgb(72, 108, 226);
    color: #fff;
}
#youScore .btn{
    margin-top: 2rem;
    background-color: rgb(130, 167, 182);
    color: rgb(0, 0, 0);
}

#youScore .btn:hover{
    background-color: rgb(15, 109, 216);
    color: #fff;
}

#youScore{
    background-color: rgb(127, 139, 158);
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0.5rem 1rem 1rem -0.2rem rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
}
#youScore h3{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.scoreArea{
    display: none;
}
.social{
    /* display: grid; */
    place-items: center;
    font-size: 1.1rem;
    align-items: center;
}
.social a{
    text-decoration: none;
}
